header {
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        background: transparent; // Fondo transparente
        flex-grow: 1; // Permite que la navbar ocupe el espacio disponible

        &-brand {
            img {
                width: 267px; // Estilos para la imagen del logo
            }
        }

        .navbar-nav {
            margin-left: auto; // Alinea los enlaces a la derecha

            .nav-item {
                .nav-link {
                    font-family: "Cookie"; // Aplicar la fuente Cookie
                    font-size: 18px; // Reducir el tamaño de la fuente
                    color: #ffffff;
                    text-decoration: none;
                    padding: 8px 20px; // Reducir el padding
                    display: inline;
                    background-color: #7c5553;
                    margin: 2px;
                    border-radius: 25px;
                    font-weight: bold; // Negrita en el texto

                    &:hover {
                        font-size: 20px; // Ajustar el tamaño al hacer hover
                        color: #eea8a2; // Color al pasar el mouse
                    }
                }
            }
        }
    }
}