header {
    text-emphasis: none;
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        background: transparent; // Fondo transparente
        flex-grow: 1; // Permite que la navbar ocupe el espacio disponible

        &-brand {
            h1 {
                font-family: $fuente-principal; // Cambia esta fuente a la que necesites
                
               
            }
        }

        .navbar-nav {
            margin-left: auto; // Alinea los enlaces a la derecha

            .nav-item {
                .nav-link {
                    font-family: $fuente-secundaria; // Cambia la fuente de los enlaces
                    font-size: 18px; // Tamaño de fuente para los enlaces
                    color: black; // Color de los enlaces
                    text-decoration: none; // Elimina el subrayado de los enlaces
                    padding: 8px 20px; // Espaciado alrededor de los enlaces
                    display: inline-block; // Muestra los enlaces en línea
                    margin: 2px; // Espaciado entre los enlaces
                    font-weight: bold; // Aplica negrita

                    &:hover {
                        font-size: 20px; // Aumenta el tamaño cuando pasa el mouse
                        color: #f1eae9; // Color del texto al hacer hover
                    }
                }
            }
        }
    }
}